<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/galery.css">
    <link rel="stylesheet" href="/css/layout.css">
    <title>CSS Modelos</title>
</head>
<body>
    <header class="menu-vertical">
        <nav>
            <ul>
                <li><a href="#" class="menu-buttons">Home</a></li>
                <li><a href="#" class="menu-buttons">Sobre</a></li>
                <li><a href="#" class="menu-buttons">Modelos</a></li>
                <li><a href="#" class="menu-buttons">Contato</a></li>
                <li><a href="#" class="menu-buttons">Entrar</a></li>
            </ul>
        </nav>
    </header>
    {% block exemplo %}

    {% endblock exemplo%}
</body>
</html>