<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/main.css">    
    <link rel="stylesheet" href="/css/galery.css">
    <title>Mais Saude</title>
</head>
<body>
    <header class="menu-horizontal">
            <div class="logo-container"><a href="/" class="menu-logo">Mais <span>Saúde</span></a></div>
            <ul>
                <li><a href="Sobre" class="menu-buttons">Sobre</a></li>
                <li><a href="/Ver-UBS" class="menu-buttons">Ver UBS</a></li>
                <li><a href="/Entrar" class="menu-buttons">Entrar</a></li>
            </ul>
        </nav></header>
    <main>
        {% block conteudo %}

        {% endblock conteudo %}
    </main>
</body>
</html>