{% extends 'base.njk' %}

{% block exemplo %}
    
        <main>
            <h2>Layout com display grid</h2>
            
            <section class="layout-section">
            <header class="layout-header">
                header
            </header>
            <aside class="layout-aside">Aside</aside>
            <main class="layout-main">Main</main>
            <footer class="layout-footer">Footer</footer>

        </section>

        </main>

{% endblock exemplo %}