{% extends 'base.njk' %}
{% block home %}
    href="/paciente/"
{% endblock home %}
{% block signup %}
<li><a href="/paciente/Entrar" class="menu-buttons">Entrar</a></li>
{% endblock signup %}
{% block conteudo %}
    <div class="form">
        <form action="" method="post">
        <h2>Cadastrar</h2>
        <br>
        <input type="text" value="só o basico chefe">
        <a class="button large" value="Entrar">Cadastrar</a>
        
    </div>
{% endblock conteudo %}