{% extends 'base.njk' %}

{% block exemplo%}
    <main>
        <h1>Modelo Prontos</h1>
        <section class="buttons-section">
            <div>
                <h3>Botões Normais</h3>
                <a href="#" class="button small">Pequeno</a>
                <a href="#" class="button">Medio</a>
                <a href="#" class="button large">Grande</a>
                <a href="#" class="button circle">@</a>
            </div>
            <div>
                <h3>Variações</h3>
                <a href="#" class="button vacuo">Vacuo</a>
                <a href="#" class="button vazado">Vazado</a>
            </div>
        </section>
        <section class="galery">
            <div class="galery-main-content">
                <img src="/img/main.jpg" class="galery-main" alt="">
                <img src="/img/mod (3).jpg" class="galery-main" alt="">
                <img src="/img/mod (16).jpg" class="galery-main" alt="">
                <img src="/img/mod (6).jpg" class="galery-main" alt="">
            </div>
            <div>
                <img src="/img/mod (1).jpg" class="galery-card" alt="">
                <img src="/img/mod (2).jpg" class="galery-card" alt="">
                <img src="/img/mod (3).jpg" class="galery-card" alt="">
                <img src="/img/mod (4).jpg" class="galery-card" alt="">
                <img src="/img/mod (5).png" class="galery-card" alt="">
                <img src="/img/mod (6).jpg" class="galery-card" alt="">
                <img src="/img/mod (7).png" class="galery-card" alt="">
                <img src="/img/mod (8).png" class="galery-card" alt="">
                <img src="/img/mod (9).jpg" class="galery-card" alt="">
                <img src="/img/mod (10).jpg" class="galery-card" alt="">
                <img src="/img/mod (11).jpg" class="galery-card" alt="">
                <img src="/img/mod (12).jpg" class="galery-card" alt="">
                <img src="/img/mod (13).jpg" class="galery-card" alt="">
                <img src="/img/mod (14).jpg" class="galery-card" alt="">
                <img src="/img/mod (15).jpg" class="galery-card" alt="">
                <img src="/img/mod (16).jpg" class="galery-card" alt="">
                <img src="/img/mod (17).png" class="galery-card" alt="">
                <img src="/img/mod (18).png" class="galery-card" alt="">
                <img src="/img/mod (19).png" class="galery-card" alt="">
                <img src="/img/mod (20).jpg" class="galery-card" alt="">
                <img src="/img/mod (21).png" class="galery-card" alt="">
                <img src="/img/mod (22).png" class="galery-card" alt="">
            </div>
        </section>
    </main>
{% endblock exemplo %}