{% extends 'base.njk' %}
{% block home %}
    href="/paciente/"
{% endblock home %}
{% block signup %}
<li><a href="/paciente/Cadastrar" class="menu-buttons">Cadastrar</a></li>
{% endblock signup %}
{% block conteudo %}
    <div class="form">
        <form action="/paciente/fazerLogin" method="post">
        <h2>Login</h2>
        <label>E-mail<input type="email" autofocus minlength="12" maxlength="40" placeholder="Insira seu email" name="email"></label>
        <label>senha<input type="password" minlength="6" maxlength="40" name="senha" placeholder="Insira sua senha"></label>
        <br>
        <input type="submit" class="button large" value="Entrar">
    </div>
{% endblock conteudo %}