{% extends 'base.njk' %}
{% block home %}
    href="/paciente/"
{% endblock home %}
{% block conteudo %}
    <div class="main-card">

        <div class="news">
            <h2>Titulo</h2>
            <p>asdfahskdj</p>
            <small>Data:</small>
        </div>

        <a class="button large" href="/paciente/">Voltar</a>

    </div>
{% endblock conteudo %}