{% extends 'base.njk' %}
{% block home %}
    href="/paciente/"
{% endblock home %}
{% block conteudo %}
    <div class="main-card">

        <div class="news">
           
             {%for item in posts%}
                <h2>{{item.titulo}}</h2>
                <p>{{item.conteudo}}</p>
                <small>{{item.data}}</small>
                <br>
                <small>{{item.autor}}</small>
            {%endfor%}
        </div>

        <a class="button large" href="/paciente/">Voltar</a>

    </div>
{% endblock conteudo %}