a{
    color: inherit;
}
.button{
    font-size: 14px;
    display: inline-block;
    background: rgb(0, 0, 29);
    border: 1px solid rgb(0, 36, 77);
    border-radius: .8em;
    box-sizing: border-box;
    padding: .5em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 120px;
    overflow: hidden;
    color: aliceblue;
    transition: background .5s linear;
    cursor: pointer;
}
.small{
    width: 80px;
    font-size: 12px;
}
.large{
    width: 180px;
}
.circle{
    height: 40px;
    width:  40px;
    border-radius: 50%;
}
.button:hover{
    background: rgb(19, 60, 107);
}
.vacuo{
    background: transparent;
    background-attachment: scroll;
}
.vazado{
    background: rgb(255, 255, 255);
    color: rgba(30, 14, 37, 0.301);
}
.vazado:hover{
    background: rgba(30, 14, 37, 0.301);
    color: white;
}
.menu-buttons{
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: white;
    transition: all .5s;
}
.menu-buttons:hover{
   color: rgb(168, 168, 168);
}