.galery{
    width: 80vw;
    background: transparent;
    margin: .8em auto;
    border: 0;
}
.galery a{
    text-decoration: none;
    transition: all linear 1s;
}
.galery a:hover{
    text-decoration: none;
    background: rgb(72, 77, 82);
}
.galery-main-content{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 80vw;
    border: 1px solid white;
    border-radius: 2em;
    border: 1px solid green;

}
.galery-main{
    height: 60vh;
    width: 80vw;
    border-radius: 2em;
    animation: slide 15s infinite reverse;
    animation-play-state: running;
    text-align: center;
    background-color: gray;
}
.galery-card{
    width: 16%;
    margin: 2px 1.5% 2px 0;
    border-radius: 8px;
    border: 1px solid gray;
}
.galery .galery-card{
    overflow: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 210px;
    width: 80vw;
    display: flex;
}
.galery .galery-card::-webkit-scrollbar {
    height: 8px;           /* width of the entire scrollbar */
  }
  
.galeryy .galery-card::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
.galery .galery-card::-webkit-scrollbar-thumb {
    background-color: rgb(6, 79, 107);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
   
  }
.card-item{
    border: 1px solid pink;
    height: 198px;
    background: rgb(35, 91, 136);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 1px;
    padding: 0 40px;
}
.card-item h4, small{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    22%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-80.6vw);
    }
    47%{
        transform: translateX(-80.6vw);
    }
    50%{
        transform: translateX(-160.6vw);
    }
    72%{
        transform: translateX(-160.6vw);
    }
    75%{
        transform: translateX(-240.6vw);
    }
    97%{
        transform: translateX(-240.6vw);
    }
    100%{
        transform: translateX(0);
    }
}