body, html{
    margin: 0;
    padding: 0;
    background: aliceblue;
}
.menu-horizontal{
    width: 100%;
    height: 15vh;
    display: flex;
    border: 1px solid red;
    background: rgb(1, 1, 83);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menu-logo{
    color: aliceblue;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}
.menu-logo span{
    color: red;
}
.logo-container{
    width: 20%;
}
.menu-horizontal ul{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu-horizontal ul li{
    list-style: none;
    color: white;
}