html,body {
  margin: 0;
  padding: 0;
  font-family: 'Glory', sans-serif;
  box-sizing: border-box;
}

#map {
  width: 49%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#form {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

#form form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#form div input {
  width: 67%;
  text-align: center;
}
