{% extends 'logado/logado.njk'%}

{%block conteudo%}
<div class="main-card">

    <h2>Agendamentos</h2>

    <p>Tipo: {{agen.tipo}}</p>
    <p>Titulo: {{agen.titulo}}</p>
    <p>Descrição: {{agen.descricao}}</p>
    <p> teste: {{agen}}</p>


    <a class="button large" href="/paciente/Agendar">Agende Agora</a>

</div>
{%endblock conteudo%}
