{% extends 'logado/logado.njk'%}

{%block conteudo%}
<div class="main-card">

    <h2>Agendamentos</h2>
    
    <p>Titulo:</p>
    <p>Descrição</p>
    <p>Data:</p>

    <a class="button large" href="/paciente/Agendar">Agende Agora</a>

</div>
{%endblock conteudo%}
