{% extends 'logado/logado.njk' %}

{% block conteudo %}

    <h2>A Secretaria da Saude Informa</h2>
    <section class="galery">

        <div class="galery-card">
            <a href="#">
                <span class="card-item">
                <h4>{{item.titulo}}Titulo da Materia</h4>
                <small>{{item.data}}14/02/2012</small>
                </span>
            </a>
            <a href="#">
                <span class="card-item">
                <h4>{{item.titulo}}Titulo da Materia</h4>
                <small>{{item.data}}14/02/2012</small>
                </span>
            </a>
            <a href="#">
                <span class="card-item">
                <h4>{{item.titulo}}Titulo da Materia</h4>
                <small>{{item.data}}14/02/2012</small>
                </span>
            </a>
            <a href="#">
                <span class="card-item">
                <h4>{{item.titulo}}Titulo da Materia</h4>
                <small>{{item.data}}14/02/2012</small>
                </span>
            </a>
            <a href="#">
                <span class="card-item">
                <h4>{{item.titulo}}Titulo da Materia</h4>
                <small>{{item.data}}14/02/2012</small>
                </span>
            </a>
            <a href="#">
                <span class="card-item">
                <h4>{{item.titulo}}Titulo da Materia</h4>
                <small>{{item.data}}14/02/2012</small>
                </span>
            </a>
            <a href="#">
                <span class="card-item">
                <h4>{{item.titulo}}Titulo da Materia</h4>
                <small>{{item.data}}14/02/2012</small>
                </span>
            </a>
            <a href="#">
                <span class="card-item">
                <h4>{{item.titulo}}Titulo da Materia</h4>
                <small>{{item.data}}14/02/2012</small>
                </span>
            </a>
            <a href="#">
                <span class="card-item">
                <h4>{{item.titulo}}Titulo da Materia</h4>
                <small>{{item.data}}14/02/2012</small>
                </span>
            </a>
            <a href="#">
                <span class="card-item">
                <h4>{{item.titulo}}Titulo da Materia</h4>
                <small>{{item.data}}14/02/2012</small>
                </span>
            </a>
            <a href="#">
                <span class="card-item">
                <h4>{{item.titulo}}Titulo da Materia</h4>
                <small>{{item.data}}14/02/2012</small>
                </span>
            </a>
            <a href="#">
                <span class="card-item">
                <h4>{{item.titulo}}Titulo da Materia</h4>
                <small>{{item.data}}14/02/2012</small>
                </span>
            </a>
        </div>        
    </section >

    <section class="card">
        <h4>Junte-se a nós</h4>
        <p>Olá, somos da equipe de desenvolvedores da TS e se você é novo por aqui viemos te fazer um convite, oque acha de poder agendar um horario no dentista sem precisar sair do quarto? ou agendar uma consulta com o medico da sua unidade basica de saúde e não precisar ficar horas esperando numa fila?. Parece legal não é? e isso ja esta acontecendo com os milhares de pacientes que estão usando o MaisSaude, então não fique por fora e faça já a sua conta. Cuida da sua saúd não precisa ser chato ;)</p>
    </section>
    
{% endblock conteudo %}