{% extends 'logado/logado.njk'%}

{%block perfil%}
    <li><a href="/paciente/sair" class="menu-buttons" >Sair</a></li>
{%endblock perfil%}

{% block conteudo%}
    <div class="main-card">
        <div class="dados">
            <h2>Meus Dados</h2>
            <p>Nome: {{dados.nome}}</p>
            <p>Telefone: {{dados.telefone}}</p>
            <p>Email: {{dados.email}}</p>
            <p>Sexo: {{dados.sexo}}</p>
            <h4>Endereço </h4>
            <p>Rua: {{dados.rua}}</p>
            <p>Bairro: {{dados.bairro}}</p>
            <p>Cidade: {{dados.cidade}}</p>
            <a href="#" type="submit" class="button" >Editar</a>
        </div>
        <div>
            <a href="/paciente/Agendamentos" type="submit" class="button large" >Ver Agenda</a>
            <a href="/paciente/Agendar" type="submit" class="button large" >Agendar Consulta</a>
        </div>
    </div>
{% endblock conteudo%}