<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/style.css" />  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Glory:wght@200;300&display=swap">
    <script src="/js/index.js"></script>
    <title>Mais Saude</title>
</head>
<body>
    <div id="form">
            <form action="/UBS" method="post">
                <div>
                    <label for="name">Nome:</label>
                    <input type="text" id="name" />


                <div id="button">
                    <button id="btn-save" type="button" onclick="save()">Salvar</button>

                    <button id="btn-dest" type="button" onclick="destiny()">
                Visualize seu Destino
                    </button>
                </div>
        
                </div>
            </form>
      <div id="map"></div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly" async></script>
</body>   