{% extends 'base.njk'%}
{% block home %}
    href="/paciente/"
{% endblock home %}
{% block signup %}
<li><a href="/paciente/Entrar" class="menu-buttons">Entrar</a></li>
{% endblock signup %}
{% block conteudo %}
    <div class="form">
        <form action="/funcionario/cadastro" method="post" class="cadastro">
        <h2>Cadastrar Funcionário</h2>
        <br>
        <label><span>Nome:</span><input required type="text" autofocus minlength="2" maxlength="40" placeholder="Digite seu nome completo" name="nome"></label>
        <br>
        <label><span>Email:</span><input required type="email" minlength="12" maxlength="40" placeholder="Insira seu email" name="email"></label>
        <br>
        <label><span>Senha:</span><input required type="password" minlength="6" maxlength="40" name="senha" placeholder="Insira sua senha"></label>
        <br>
        <label><span>Confirme a Senha:</span><input required type="password" minlength="6" maxlength="40" name="confirmSenha" placeholder="Insira a senha novamente"></label>
        <br>
        <label><span>Telefone:</span><input required type="tel" minlength="9" maxlength="11" placeholder="Digite seu numero de telefone" name="telefone"></label>
        <br>
        <input required type="text" name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="Digite um CPF no formato: xxx.xxx.xxx-xx">
        <select name="ubs">
            {%for x in ubs%}
                <option>
                {{x.nome}}
                </option>
            {%endfor%}
        </select>
        <p>Endereço:</p>
        <label><span>Rua:</span><input required type="text" minlength="5" placeholder="Rua ex - numero" name="rua"></label>
        <label><span>Bairro:</span><input required type="text" minlength="5" placeholder="Bairro" name="bairro"></label>
        <label><span>Cidade:</span><input required type="text" minlength="5" placeholder="Cidade" name="cidade"></label>
        <br>
        <p>Data de nascimento:</p>
        <label><input required name="data" type="date"></label>
        <label><span>Função:</span><input required type="text" minlength="4" maxlength="20" placeholder="Digite o seu cargo na UBS" name="função"></label>
        <label><span>Salario:</span><input required type="number" placeholder="Digite o valor de seu salário" name="salario"></label>
        <p>Data de Admissão:</p>
        <label><span>Data de Admissão:</span><input required type="date" name="admissao"></label>
        <br>
        <input type="submit" class="button small" value="Entrar">
        
    </div>
{% endblock conteudo %}