{% extends 'funcionario/newBase.njk'%}

{%block perfil%}
{%endblock perfil%}

{% block conteudo%}
    <div class="main-card">
        <div class="main-card-2">
            <div class="dados">
                <p>Nome: {{dados.nome}}</p>
                <p>Telefone: {{dados.telefone}}</p>
                <p>Email: {{dados.email}}</p>
                <p>Cargo: {{dados.funcao}}</p>
                <h4>Endereço </h4>
                <p>Rua: {{dados.rua}}</p>
                <p>Bairro: {{dados.bairro}}</p>
                <p>Cidade: {{dados.cidade}}</p>
                <a href="#" type="submit" class="button" >Editar</a>
            </div>
            
        </div>

        <div>
            <a href="/funcionario/Agenda" type="submit" class="button large" >Ver Agenda</a>
            <a href="/funcionario/AgendarPac" type="submit" class="button large" >Agendar Consulta</a>
        </div>
    </div>
{% endblock conteudo%}