<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/main.css">    
    <link rel="stylesheet" href="/css/galery.css">
    <link rel="stylesheet" href="/css/counter.css">
    <title>Mais Saude</title>
</head>
<body>
    <header class="menu-horizontal">
            <div class="logo-container"><a {% block home %}{% endblock home%} class="menu-logo">Mais<span>Saúde</span></a></div>
            <ul>
                <li><a href="/funcionario/UBS" class="menu-buttons">Ver UBS</a></li>
                <li><a href="/funcionario/Agenda" class="menu-buttons" >Agendamentos</a></li>
                <li><a href="/funcionario/News" class="menu-buttons" >Noticias</a></li>
                {% block perfil%}
                <li><a href="/funcionario/FuncPage" class="menu-buttons" >{{req.session.login.nome}}Perfil</a></li>
                {%endblock perfil%}
                <li><a href="/funcionario/sair" class="menu-buttons" >sair</a></li>
            </ul>
        </nav></header>
    <main>
        {% block conteudo %}

        {% endblock conteudo %}
    </main>
    <footer>
        <p>@TS - Tecnologia e Consultoria </p>
    </footer>
</body>
</html>