{% extends 'funcionario/newBase.njk'%}

{%block conteudo%}
<div class="main-card">

    <input href="/funcionario/Paciente/{{pac.nome}}" type="text" minlength="2" placeholder="Buscar por paciente" name="nome">

    <h2>Agendamentos</h2>
    
    <p>Titulo:</p>
    <p>Paciente:</p>
    <p>Descrição</p>
    <p>Data:</p>

    <a class="button large" href="/funcionario/AgendarPac">Agendar Consulta</a>

</div>
{%endblock conteudo%}