{% extends 'funcionario/newBase.njk'%}

{%block conteudo%}
<div class="main-card">

    <section class="galery">
        <h4>UBS</h4>
        <div class="galery-card agenda">
            {%for x in agd%}
            <a href="/funcionario/Agenda/{{x}}">
                <span class="card-item agt">
                <small class="fixa">Ficha:</small>
                <h4>{{x}}</h4>
                <small>UBS</small>
                </span>
            </a>
            {%endfor%}
        </div>
    </section >
    
    

    <a class="button large" href="/funcionario/AgendarPac">Agendar Consulta</a>

</div>
{%endblock conteudo%}