{% extends 'funcionario/newBase.njk'%}

{%block conteudo%}
<div class="main-card">

    <section class="galery">
        <h4>UBS</h4>
        <div class="galery-card agenda">
            <a href="/funcionario/Agenda/pabrlo">
                <span class="card-item agt">
                <small class="fixa">{{item.data}}Fixa:</small>
                <h4>{{item.titulo}}Paciente</h4>
                <small>{{item.data}}UBS</small>
                </span>
            </a>
            <a href="/funcionario/Agenda/pabrlo">
                <span class="card-item agt">
                <small class="fixa">{{item.data}}Fixa:</small>
                <h4>{{item.titulo}}Paciente</h4>
                <small>{{item.data}}UBS</small>
                </span>
            </a>
            <a href="/funcionario/Agenda/pabrlo">
                <span class="card-item agt">
                <small class="fixa">{{item.data}}Fixa:</small>
                <h4>{{item.titulo}}Paciente</h4>
                <small>{{item.data}}UBS</small>
                </span>
            </a>
            <a href="/funcionario/Agenda/pabrlo">
                <span class="card-item agt">
                <small class="fixa">{{item.data}}Fixa:</small>
                <h4>{{item.titulo}}Paciente</h4>
                <small>{{item.data}}UBS</small>
                </span>
            </a>
            <a href="/funcionario/Agenda/pabrlo">
                <span class="card-item agt">
                <small class="fixa">{{item.data}}Fixa:</small>
                <h4>{{item.titulo}}Paciente</h4>
                <small>{{item.data}}UBS</small>
                </span>
            </a>
        </div>
    </section >
    
    

    <a class="button large" href="/funcionario/AgendarPac">Agendar Consulta</a>

</div>
{%endblock conteudo%}