{% extends 'funcionario/newBase.njk'%}

{%block conteudo%}
<div class="main-card">

    <h2>Agendamentos</h2>

            <p>Paciente: {{nome}}</p>
            <p>Tipo: {{ficha.tipo}}</p>
            <p>Titulo: {{ficha.titulo}}</p>
            <p>Descrição: {{ficha.descricao}}</p>
    
    <a class="button large" href="/funcionario/Agenda">Voltar</a>

</div>
{%endblock conteudo%}